.aboutUs1 p {
    margin: 20px;
    text-align: center;
}

#creators {
    border-radius: 10px;
    box-shadow: 2px 2px lightgray;
    float: left;
    height: 400px;
    margin: 40px;
    width: 300px;
}

.aboutUs2 {
    float: none;
    margin-top: 100px;
}

.aboutUs2 p {
    margin-top: 25px;
    margin-inline: 10px;
}

p span {
    color: #FF8099;
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (max-width: 520px) {
    #creators {
        border-radius: 10px;
        box-shadow: 2px 2px lightgray;
        display: block;
        float: none;
        height: 400px;
        margin: auto;
        width: 300px;
    }

    .aboutUs2 {
        margin-top: 40px;
    }

    .aboutUs2 p {
        margin-top: 20px;
        margin-inline: 10px;
    }
}