::-webkit-scrollbar{
    background-color: #f7d5dc6e;
    border-radius: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background: #F7D5DC;
    border-radius: 10px;
}

.hrSet {
    margin: 0px 0px 8px 0px !important;
    background-color: #f90032;
    height: 1px;
}

.pink-nav {
    background-color: #F7D5DC !important;
    font-size: 20px;
}

.nav-item {
  text-shadow: 2px 2px lightpink;
  color: #4b4c4d;
}

.navbar-toggler {
    color: #F7D5DC !important;
}

.navbar-brand {
    padding: 0;
}

.navbar-toggler-icon {
    opacity: 0.8;
}

.navbar-nav {
  width: 100%;
}

body {
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    max-width: 1604px;
    margin-inline: auto;
}

.alert {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
}

main {
    min-height: 100vh;
    background-color: #f5f5f5;
    font-weight: bold;
}

main h1 {
  color: #FF8099;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 2px lightgray;
}

#carouselHighlights {
    width: 600px;
    height: 600px;
    margin: 25px auto;
}

.carouselHighlights, .carouselHighlights-item {
  height: 100%;
}

.carouselHighlights-item img {
    max-width: 100%;
    max-height:100%;
    margin: auto;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.footer-basic {
    padding:40px 0;
    background-color: #eee6dd;
    color:#4b4c4d;
  }

  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }

  .footer-basic li {
    padding:0 10px;
  }

  .footer-basic ul a {
    color: inherit;
    text-decoration:none;
    opacity:0.8;
  }

  .footer-basic ul a:hover {
    opacity:1;
  }

  .footer-basic .social {
    text-align:center;
    padding: 0;
  }

  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }

  .footer-basic .social > a:hover {
    opacity:0.9;
  }

  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size: 15px;
    color:#aaa;
    margin-bottom:0;
  }

  @media only screen and (max-width: 991px){
    .ms-auto{
        margin-left: 0 !important;
    }
  }

  

  @media only screen and (max-width: 640px){
    #carouselHighlights {
        width: 400px;
        height: 400px;
        margin: 25px auto;
      }
  }

  @media only screen and (max-width: 480px){
    #carouselHighlights {
        width: 95%;
        height: 400px;
        margin: 25px auto;
      }

      .carouselHighlights, .carouselHighlights-item {
        height: 100%;
      }

  }