{% extends "index.html" %}
{% block link %}<link rel="stylesheet" href="static/login.css">{% endblock %}
{% block title %}Login &#127856;{% endblock %}
{% block main %}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>
<hr>
<h2>Don't have an account? Register below!</h2>
<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="password1" placeholder="Password">
    <input type="password" name="password2" placeholder="Confirm Password">
    <input type="submit" value="Register">
</form>
{% endblock %}