{% extends "index.html" %}
{% block link %}<link rel="stylesheet" href="static/login.css">{% endblock %}
{% block title %}Login &#127856;{% endblock %}
{% block main %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor%}
{% endif %}
{% endwith %}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>
{% endblock %}