{% extends "index.html" %}
{% block link %}<link rel="stylesheet" href="static/login.css">{% endblock %}
{% block title %}Login &#127856;{% endblock %}
{% block main %}
<h2>Welcome back!</h2>
<form action="/login" method="post">
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
<hr>
<h2>Don't have an account? Register below!</h2>
<form action="/register" method="post">
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="username" id="username" placeholder="Name">
        </div>
      </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">E-mail</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
      </div>
    </div>
    <div class="form-group row">
      <label for="password1" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password1" id="password1" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
        <label for="password2" class="col-sm-2 col-form-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" name="password2" id="password2" placeholder="Password Confirmation">
        </div>
      </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
  <hr>
  <img src="static/uploaded_files/cupcake-2097943_640.png" alt="Three Cupcakes" id="cupcakes">
{% endblock %}