{% extends "index.html" %}
{% block link %}<link rel="stylesheet" href="static/profile.css"> {% endblock %}
{% block title %}Profile{% endblock %}
{% block main %}
    <h1>My Profile</h1>
    <div class="settingsNav">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link navbar-brand" href="#">Change E-mail</a>
            </li>
            <hr class="hrSet">
            <li class="nav-item">
              <a class="nav-link navbar-brand" href="#">Change Password</a>
            </li>
            <hr class="hrSet">
            <li class="nav-item">
              <a class="nav-link navbar-brand" href="#">Add Administrator</a>
            </li>
            <hr class="hrSet">
          </ul>
    </div>
    <!-- variables user (if user is logged), user_name, my_recipes[] (list with first image of each user's recipes), user_email -->
    <div class="myProfile">
        <p>Welcome back</p>
    </div>
{% endblock %}