{% extends "index.html" %}
{% block link %}
<link rel="stylesheet" href="static/profile.css"> {% endblock %}
{% block title %}Profile{% endblock %}
{% block main %}
<h1>
    <a href="/profile" class="profileTitle">
        My Profile
    </a>
</h1>
<p>Welcome back, {{ user_name }} ({{ user_email }})!</p>
<div class="flexProfile">
	<div class="settingsNav">
		<ul class="nav flex-column">
			<li class="nav-item">
				<button class="nav-link navbar-brand" type="button" id="nameChange">Change Username</button>
			</li>
			<hr class="hrSet">
			<li class="nav-item">
				<button class="nav-link navbar-brand" type="button" id="emailChange">Change E-mail</button>
			</li>
			<hr class="hrSet">
			<li class="nav-item">
				<button class="nav-link navbar-brand" type="button" id="pwChange">Change Password</button>
			</li>
			<hr class="hrSet">
			<li class="nav-item">
				<button class="nav-link navbar-brand" type="button" id="addAdmin">Add Administrator</button>
			</li>
			<hr class="hrSet">
		</ul>
	</div>
	<!-- variables user (if user is logged), user_name, my_recipes[] (list with first image of each user's recipes), user_email -->

	<div class="myProfile" id="myProfile">
		<div class="row" id="infinity"></div>
		<!-- content changes through javascript -->
	</div>
</div>
{% endblock %}
{% block script %}
<script src="static/index.js"></script>
<script src="static/profile.js"></script>
{% endblock %}