<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Com amor, Graça &#127856;</title>
    </head>
    <body>
        <header>
            <img src={{url_for('logo.png')}} alt="Brand logo" id="logo">
            <h1>Com Amor, Graça</h1>
            <div class="navigation">
                <nav>
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Sobre Nós</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Receitas</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">Contactos</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </body>
</html>